
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>
<body>

    <section>
        <header>
            <div class="container">
                <div class="title text-center mt-5">
                    <p class="h4">Grado</p>
                    <p>CRUD correspondiente para la tabla alumnos.</p>
                    <a href="~/CRUD/alumnos">Alumnos</a>
                    <a href="~/CRUD/grado">Grados</a>
                </div>
                <div class="alert alert-success" role="alert">
                    Registro creado exitosamente
                </div>
                <div class="alert alert-danger" role="alert">
                    Ocurrio un error en el proceso, si el problema persiste comuniquese con soporte tecnico.
                </div>
            </div>
        </header>
    </section>

    <section>

        <div class="container mt-5">
            <div class="text-right mb-3">
                <button class="btn btn-success" data-toggle="modal" data-target="#Crear" data-whatever="">Crear registro</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>mat_id</th>
                        <th>Nombre</th>
                        <th>Fecha de creacion</th>
                        <th>Fecha de actualizacion</th>
                        <th>Acctiones</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        foreach (var item in ViewBag.grados)
                        {
                        <tr>
                            <td>@item.grd_id</td>
                            <td>@item.grd_nombre</td>
                            <td>@item.grd_created_at</td>
                            <td>@item.grd_updated_at</td>
                            <td class="text-center">

                                <input type="submit" value="Editar" class="btn btn-sm btn-warning">
                                @using (Html.BeginForm("eliminar_grado", "CRUD", FormMethod.Post, new { name = "eliminar" }))
                                {
                                    <input type="text" hidden name="id" value="@item.grd_id" />
                                    <input type="submit" value="eliminar" class="btn btn-sm btn-danger" onclick="Confirm()">
                                }

                            </td>
                        </tr>
                            }
                        }
                </tbody>
            </table>
        </div>
    </section>

    <section class="modals">

        <!-- CREAR -->
        <div class="modal fade" id="Crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="recipient-name" maxlength="100" minlength="10" required>

                                <label for="recipient-name" class="col-form-label">Edad:</label>
                                <input type="number" class="form-control" id="recipient-name" max="99" min="12" required>

                                <label for="recipient-name" class="col-form-label">Sexo:</label>
                                <select name="sexo" id="" class="form-control">
                                    <option value="">Femenino</option>
                                    <option value="">Masculino</option>
                                    <option value="">Otro</option>
                                </select>

                                <label for="recipient-name" class="col-form-label">Observaciones:</label>
                                <input type="text" class="form-control" id="recipient-name" maxlength="100" minlength="10">

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <input type="submit" class="btn btn-success" value="Crear registro">
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>


    </section>






















    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
</body>
</html>
0
